
extends layout.pug

block scripts
  script(src='/jquery.js')
  script(src='/pets.js')

block content
  h1= title
  each message in messages
    img(src=message.avatar)
    li #{message.text} #{message.username}